@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto';
}

/* navbar */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    gap: 16px;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* section 1 */

.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 68px;
}

.section1 img {
    height: 250px;
    /* width: 600px; */
}

.section1 .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    text-align: start;
}

.section1 .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

.section1 .secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 5px;
}

/* section 2 */

.section2 {
    padding-bottom: 75px;
}

.section2 .title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.section2 .container {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 32px;
}

.section2 img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.section2 .info {
    max-width: 200px;
}

/* section3 */
.section3 {
    background-color: #E5E7EB;
    padding: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 .container {
    width: 680px;
}

.section3 .quote {
    font-size: 36px;
    margin: auto;
    padding-bottom: 5px;
}

.section3 .quotee {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

/* section 4 */
.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 75px;
    border-radius: 10px;
}

.section4 .main-text {
    color: #F9FAF8;
    font-size: 24px;
}

.section4 .secondary-text {
    color: #F9FAF8
}

.section4 button {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px 48px;
}

.section4 .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* footer */

.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E5E7EB;
    padding: 50px;
}