@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: 'Roboto';
}

/* navbar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

ul {
    list-style-type: none;
    gap: 32px;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* section 1 */

.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.section1 img {
    height: 400px;
    width: auto;
}

.section1 .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.section1 .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
    width: 75%;
}

.section1 .secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
    width: 50%;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 16px 48px;
    margin-top: 16px;
    border-radius: 5px;
    display: flex;
    font-size: 16px;
}

/* section 2 */

.section2 {
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
}

.section2 .title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.section2 .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 32px;
}

.section2 img {
    width: 250px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.section2 .info {
    max-width: 250px;
    text-align: center;
}

/* section3 */
.section3 {
    background-color: #E5E7EB;
    padding: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 .container {
    width: 680px;
}

.section3 .quote {
    font-size: 36px;
    margin: auto;
    padding-bottom: 16px;
    color: #1F2937
}

.section3 .quotee {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #1F2937
}

/* section 4 */
.section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 100px auto;
    padding: 75px 100px;
    border-radius: 10px;
    width: 75%;
}

.section4 .main-text {
    color: #F9FAF8;
    font-size: 24px;
}

.section4 .secondary-text {
    width: 50%;
    color: #F9FAF8
}

.section4 button {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    font-size: 16px;
    padding: 16px 48px;
    white-space: nowrap;
}

.section4 .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* footer */

.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E5E7EB;
    padding: 50px;
}

/* hovers and links */

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: gray;
}

button:hover {
    background-color: #1F63C9;
}